.hero-container{
    max-width: 1200px;
    margin: 0 auto;
    height: 550px;

    margin-top: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.hero-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    gap: 45px;
    padding: 0 15px;
    margin-bottom: 10px;

    font-family: 'Poppins', sans-serif;
}
.hero-info h1{
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-white);
    margin-bottom: 1px;
}
.hero-info p{
    font-size: 1.5rem;
    color: var(--color-white);
    line-height: 1.5;
}
.btn-hero{
    max-width: 170px;
    background-color: #C5312A;
    color: var(--color-white);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.8s;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}
.btn-hero:hover{
    filter: brightness(0.8);
}

.Link{
    color: var(--color-white);
    text-decoration: none;
}


.hero-img img{
    margin-top: 10px;
    width: 525px;
    height: 525px;
}

.hero-display{
    
    max-width: 1200px;
    margin: 50px auto;   
    height: 85px;

    background: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.664) ;   
}

.display-info{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5rem;
    margin: 15px 15px;

    font-family: 'Roboto', sans-serif;
}

.info-number{
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-white);
}
.info-text {
    margin-top: .5rem;
    font-size: 1rem;
    font-weight: 300;
    color: rgb(209, 209, 209)

}