/*Reset Css*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --bg-blue-gradient: linear-gradient(to bottom right, rgb(1, 15, 41), rgb(3, 38, 90));
    --bg-blue-background: rgba(2, 19, 51, 1.0);
    --color-card: #0C162D;
    --color-text-card:#8193b2;
    --color-white: #F7F7F7;
    --color-btn: #C5312A;
}



body{
    background: var(--bg-blue-gradient);    
    background-attachment: fixed;
    
  }
